In [11]:
# q62(q63)
# 現在の日付をtoday.txtというテキストファイルに文字列の形で書き込みなさい

import datetime
with open("today.txt", "w") as file:
    file.write(str(datetime.date.today()))

# 記事内の解法
print("記事内の解法")

from datetime import date

now = date.today()
now_str = now.isoformat() #文字列の形にする
with open("today.txt", "wt") as outfile:
    outfile.write(now_str)
print(now_str)

記事内の解法
2018-07-18

In [29]:
# q63(q64)
# today.txtから日付を解析し取り出しなさい

with open("today.txt", "rt") as file:
    date_analyzed = datetime.datetime.strptime(file.readline(), "%Y-%m-%d")
    print(date_analyzed)

# 記事内の解法
# timeモジュール内のstrptimeメソッド、日付フォーマットを使っている

2018-07-18 00:00:00

In [32]:
# q64(q65)
# ディレクトリの扱いの練習
# 問題：カレントディレクトリと親ディレクトリのファイルのリストをそれぞれ表示せよ

import os

# カレントディレクトリ
print("カレントディレクトリ：{}\n".format(os.listdir(".")))
# 親ディレクトリ
print("親ディレクトリ：{}".format(os.listdir("..")))

カレントディレクトリ：['.ipynb_checkpoints', 'books.csv', 'books.db', 'many_books.csv', 'q11.txt', 'q11_q15.ipynb', 'q16_q20.ipynb', 'q1_q5.ipynb', 'q21_q25.ipynb', 'q26_q30.ipynb', 'q31_q35.ipynb', 'q36_q40.ipynb', 'q41_q44.ipynb', 'q45_q48.ipynb', 'q49_q52.ipynb', 'q53_q61.ipynb', 'q6_q10.ipynb', 'test.txt', 'today.txt', 'Untitled.ipynb']

親ディレクトリ：['.ipynb_checkpoints', 'src_ipynb']

In [36]:
# q65(q66)
# 自分の誕生日が何曜日だったか確認

from datetime import date

my_birthday = date(1997, 3, 20)
if my_birthday.weekday() == 0:
    print("月曜日")
elif my_birthday.weekday() == 1:
    print("火曜日")
elif my_birthday.weekday() == 2:
    print("水曜日")
elif my_birthday.weekday() == 3:
    print("木曜日")
elif my_birthday.weekday() == 4:
    print("金曜日")
elif my_birthday.weekday() == 5:
    print("土曜日")
elif my_birthday.weekday() == 6:
    print("日曜日")

木曜日

In [38]:
# q66(q67)
# 自分が生まれてから10000日になるのはいつか確認

import datetime
from datetime import date

result = date(1997, 3, 20) + datetime.timedelta(days=10000)
print(result)

2024-08-05

In [2]:
# q67(q68)
# 指定のデータフレームを作成せよ

import pandas as pd

df = pd.DataFrame({"名前": ["山田", "鈴木", "佐藤", "田中", "斉藤"], "年齢": [20, 34, 50, 12, 62], "性別": ["男", "男", "女", "男", "女"]})
df

   名前  年齢 性別
0  山田  20  男
1  鈴木  34  男
2  佐藤  50  女
3  田中  12  男
4  斉藤  62  女

In [3]:
# q68(q69)
# 年齢が35歳よりも下の人だけを表から取り出しなさい

df[df["年齢"] < 35]
# df["年齢"] < 35：指定した条件に関するbool値を含むリスト

   名前  年齢 性別
0  山田  20  男
1  鈴木  34  男
3  田中  12  男

In [4]:
# q69(q70)
# 内容の追加
# 問題：なんか適当に新しい行と新しい列を追加してみましょう
# 例：新たに「池田」を追加し、新たに「居住地」という列を追加する

# 行の追加
s = pd.Series(["池田", 22, "女"], index=df.columns, name="5_new")
df_append = df.append(s)
print("行の追加")
print(df_append)
print()

# 列の追加
df_append["居住地"] = ["神奈川", "東京", "千葉", "山梨", "栃木", "群馬"]
print("列の追加")
print(df_append)

## 記事内の解法
print("\n記事内の解法\n")

import numpy as np

# 行の追加
row = pd.DataFrame({'名前': ['池田'],
                    '年齢': [22],
                    '性別': '女'})

# 行の追加（行: axis=0, 列: axis=1）
print("行の追加")
df_2 = pd.concat([df,row], axis=0)
print(df_2)
print()

# indexを変更
# np.agrangeで0〜6の数字が並んだ配列を生成
df_2.index = np.arange(len(df_2))
print("indexを変更")
print(df_2)
print()

# 列の追加
# 新たな列を代入
df_2['居住地'] = ['東京', '大阪', '北海道', '宮城', '富山', '大分']
print("列の追加_新たな列を代入")
print(df_2)

行の追加
       名前  年齢 性別
0      山田  20  男
1      鈴木  34  男
2      佐藤  50  女
3      田中  12  男
4      斉藤  62  女
5_new  池田  22  女

列の追加
       名前  年齢 性別  居住地
0      山田  20  男  神奈川
1      鈴木  34  男   東京
2      佐藤  50  女   千葉
3      田中  12  男   山梨
4      斉藤  62  女   栃木
5_new  池田  22  女   群馬

記事内の解法

行の追加
   名前  年齢 性別
0  山田  20  男
1  鈴木  34  男
2  佐藤  50  女
3  田中  12  男
4  斉藤  62  女
0  池田  22  女

indexを変更
   名前  年齢 性別
0  山田  20  男
1  鈴木  34  男
2  佐藤  50  女
3  田中  12  男
4  斉藤  62  女
5  池田  22  女

列の追加_新たな列を代入
   名前  年齢 性別  居住地
0  山田  20  男   東京
1  鈴木  34  男   大阪
2  佐藤  50  女  北海道
3  田中  12  男   宮城
4  斉藤  62  女   富山
5  池田  22  女   大分

In [15]:
# q70(q71)
# 内容の削除
# 問題：「性別」の列を削除せよ

df_append_copy = df_append.copy()
df_dropped = df_append_copy.drop("性別", axis=1)
print(df_dropped)

       名前  年齢  居住地
0      山田  20  神奈川
1      鈴木  34   東京
2      佐藤  50   千葉
3      田中  12   山梨
4      斉藤  62   栃木
5_new  池田  22   群馬

In [17]:
# q71(q72)
# 列名を変更
# 問題：「名前」を「name」、「年齢」を「age」、「居住地」を「residence」に変更せよ

df_dropped.columns = ["name", "age", "residence"]
print(df_dropped)

      name  age residence
0       山田   20       神奈川
1       鈴木   34        東京
2       佐藤   50        千葉
3       田中   12        山梨
4       斉藤   62        栃木
5_new   池田   22        群馬